#hero-text{
    opacity: 0;
    transition: opacity 2s ease-in;
  }
  
  #hero-subtext {
    opacity: 0;
    transition: opacity 4s cubic-bezier(0.7, -0.15, 1, 1);
  }

  .call-to-action {
      opacity: 0;
      transition: opacity 4s cubic-bezier(0.7, -0.15, 1, 1);
  }